.ordersContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin-top: 1em;
}

.arrowBack {
  position: absolute;
  font-size: 1.8em;
  left: 0;
  top: 0;
  margin-top: 92px;
  margin-left: 0.25em;
  cursor: pointer;
}

.orderCard{
  background-color: #004643;
  color: #faf0ca;
  padding: 1em .3em;
  width: 80%;
  margin-inline: 10%;
  border-radius: .3em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.orderName{
  width: 35%;
  padding-right: 5%;
  padding-left: 2.5%;
}


.orderPrice{
  width: 20%;
  border-left: #faf0ca 3px solid;
  border-right: #faf0ca 3px solid;
  text-align: center;
  padding-inline: 2.5%;
}
.orderQuantity{
  width: 5%;
  text-align: center;
  padding-inline: 2.5%;
  border-right: #faf0ca 3px solid;
}

.orderItemTotalPrice{
  padding-inline: 2.5%;
  text-align: center;
}
