.tablePageContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.arrowBack {
  position: absolute;
  font-size: 1.8em;
  left: 0;
  top: 0;
  margin-top: 92px;
  margin-left: 0.25em;
  cursor: pointer;
}

.tablesContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
}

.tableContainer {
  background-color: #004643;
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 0.7em;
  color: #faf0ca;
  padding: 0.5em;
  border-radius: 0.3em;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .tablesContainer {
    grid-template-columns: repeat(3, 1fr);
  }
  .tableContainer {
    font-size: x-large;
  }
}

@media screen and (max-width: 500px) {
  .tablesContainer {
    grid-template-columns: repeat(2, 1fr);
  }
  .tableContainer {
    font-size: large;
  }
}
