.navbarContainer {
  display: flex;
  align-items: center;
  background-color: #004643;
  height: 82px;
  width: 100%;
  justify-content: right;
  z-index: 2;
  position: fixed;
}

.logo {
  width: 86px;
}

.navbarItems {
  color: #faf0ca;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbarItems p {
  padding-block: 12px;
  font-size: medium;
  border-right: 2px solid #faf0ca;
  padding-inline: 1em;
}

@media screen and (max-width: 520px) {
  .navbarContainer {
    justify-content: left;
    flex-direction: row-reverse;
  }

  .navbarItems {
    flex-direction: row-reverse;
  }

  .navbarItems p {
    border-left: 2px solid #faf0ca;
    border-right: none;
  }
}
