.navbarContainer {
  display: flex;
  align-items: center;
  background-color: #004643;
  height: 96px;
  justify-content: space-between;
  padding-right: 5%;
}

.logo {
  width: 5em;
}

.navbarBtns {
  display: flex;
  justify-content: flex-end;
}

.navbarIcons{
  color: #faf0ca;
  font-size: xx-large;
  cursor: pointer;
  transition: 0.3s;
}

.drawer {
  display: flex;
  height: 100%;
  padding: 2em 5em 2em 1em;
  flex-direction: column;
  gap: 1em;
  background-color: #004643;
  font-size: xx-large;
}

.drawerBtnClose{
  position: absolute;
  color: #faf0ca;
  font-size: xxx-large;
  cursor: pointer;
  right: 0;
  top: 0;
  padding: 0.2em;
  transition: 0.3s;
}

.navbarLink {
  color: #faf0ca;
  display: flex;
  gap: 0.3em;
  transition: 0.3s;
}

.navbarLink:hover, .drawerBtnClose:hover, .navbarIcons:hover {
  transform: scale(1.2);
}
