.cardPlatesBox{
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.arrowBack {
  position: absolute;
  font-size: 1.8em;
  left: 0;
  top: 0;
  margin-top: 92px;
  margin-left: 0.25em;
  cursor: pointer;
}

.addPlate{
  margin-bottom: 1em;
}

